<!-- Base-level (getting started) nav menu -->
<body>
<nav class="navbar navbar-default">
    <div>
      
        <ul>
          <li>
            <a  class="active" routerLink="home">Home</a>
          </li>
          <div class="w3-right">
              <li>
                  <a routerLink="students">Student list</a>
                </li>
                <li>
                  <a routerLink="courses">Available Courses</a>
                </li>
                <li>
                  <a routerLink="**">Not Found</a>
                </li>
                <li>
                  <a routerLink="activate">Activate Account</a>
                </li>
                <li>
                  <a routerLink="create">Create Account</a>
                </li>
          </div>
         
        </ul>
    </div>
</nav>
</body>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

