a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    border-radius: 30px;
    color: #292929;
    font-weight: 505;
  }

 